AVCam/Pods/Pods.xcodeproj/xcuserdata/haxpor.xcuserdatad/
AVCam/noirca.xcodeproj/xcuserdata/haxpor.xcuserdatad/
AVCam/noirca.xcworkspace/xcuserdata/haxpor.xcuserdatad/
AVCam/Pods/Pods.xcodeproj/xcuserdata/haxpor.xcuserdatad/xcschemes/xcschememanagement.plist
AVCam/noirca.xcodeproj/xcuserdata/haxpor.xcuserdatad/xcschemes/xcschememanagement.plist
AVCam/noirca.xcworkspace/xcuserdata/haxpor.xcuserdatad/UserInterfaceState.xcuserstate
